@font-face {
  font-family: 'Gordita';
  src: url('https://resources.vibia.com/A_Landing/GorditaLight.otf') format('opentype');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Gordita';
  src: url('https://resources.vibia.com/A_Landing/GorditaRegular.otf') format('opentype');
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: 'Gordita';
  src: url('https://resources.vibia.com/A_Landing/GorditaMedium.otf') format('opentype');
  font-weight: 500;
  font-style: medium;
}

body {
  font-family: 'Gordita', sans-serif;
}
